@import '../../assets/styles/variables.scss';

.button {
  cursor: pointer;
  transition: all .3s ease;
  border: none;
  background: none;

  &_theme_gradient {
    font-size: 20px;
    padding: 16px 20px;
    color: #fff;
    font-weight: 500;
    background: linear-gradient(180deg, #ea047e 0%, #ff6d28 100%);
    border-radius: 10px;
    line-height: 1;
  }

  &_theme_white {
    font-size: 20px;
    padding: 16px 20px;
    background-color: #fff;
    border-radius: 10px;
    color: $PINK;
    line-height: 1;

    &:hover {
      background-color: #eee;
    }

    @media (max-width: ($TABLET_LONG_WIDTH - 1px)) {
      font-size: 18px;
      padding: 12px 12px;
    }
  }

  &_theme_user-link {
    font-size: 14px;
    font-weight: 700;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
  }

  &_theme_transparent {
    font-size: 20px;
    padding: 16px 30px;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    line-height: 1;
    border: 2px solid #fff;

    &:hover {
      background-color: #fff;
      color: $PINK;
    }

    @media (max-width: ($TABLET_SHORT_WIDTH - 1px)) {
      font-size: 18px;
      padding: 12px 18px;
    }
  }
}