$MAIN_COLOR: #261134;
$MAIN_GRAY: #817382;
$DARK_GRAY: #4F4E5B;
$ORANGE: #FF763C;
$ORANGE_HOVER: #f37038;
$ROSE: #FFE4D9;
$ROSE_HOVER: #ffded1;
$DARK_PURPUR: #3F3E57;
$PINK: #EA047E;


$MAIN_LAYOUT_MAX_WIDTH: 1480px;
$TABLET_LONG_WIDTH: 1024px;
$TABLET_SHORT_WIDTH: 768px;
$MOBILE_LARGE_WIDTH: 425px;
$MOBILE_XSMALL_WIDTH: 320px;

@mixin shadowSquare {
  box-shadow: 3px 3px 5px 3px rgb(0 0 0 / 25%);
  border-radius: 10px;
}