@import '../../assets/styles/variables.scss';

.portfolio {
  display: flex;
  justify-content: center;
  width: 100%;

  &__list {
    width: 100%;
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
  
    @media (max-width: $MAIN_LAYOUT_MAX_WIDTH) {
      gap: 50px;
    }
  
    @media (max-width: ($TABLET_SHORT_WIDTH - 1px)) {
      gap: 15px;
    }
  }

  &__element {
    display: flex;
    justify-content: center;
    width: calc((100% - 150px) / 3);
  
    @media (max-width: $MAIN_LAYOUT_MAX_WIDTH) {
      width: calc((100% - 50px) / 2);
    }
  
    @media (max-width: ($TABLET_SHORT_WIDTH - 1px)) {
      width: calc((100% - 15px) / 2);
    }
  }
}

.portfolio-card {
  @include shadowSquare;
  width: 280px;
  height: 280px;
  border: none;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  @media (max-width: 585px) {
    width: calc((100vw - 25px) / 2);
    height: calc((100vw - 25px) / 2);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }
}