@import '../../assets/styles/variables.scss';

.user-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;

  @media (max-width: ($TABLET_LONG_WIDTH - 1px)) {
    width: 100%;
  }

  @media (max-width: $MOBILE_LARGE_WIDTH) {
    width: calc(100vw - 30px)
  }

  &__image {
    @include shadowSquare;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 12px;

    @media (max-width: ($TABLET_SHORT_WIDTH - 1px)) {
      height: calc((100vw - 55px) / 2)
    }

    @media (max-width: $MOBILE_LARGE_WIDTH) {
      height: calc(100vw - 30px)
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
    word-break: break-word;

    @media (max-width: $TABLET_SHORT_WIDTH) {
      font-size: 20px;
    }
  }

  &__short-info {
    font-size: 14px;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
  }

  &__link {
    align-self: flex-end;
  }
}
