@import '../../assets/styles/variables.scss';

.user-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;

  @media (max-width: ($TABLET_LONG_WIDTH - 1px)) {
    width: 100%;
  }

  &__image {
    @include shadowSquare;
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    margin-bottom: 12px;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);

    @media (max-width: $TABLET_SHORT_WIDTH) {
      font-size: 20px;
    }
  }

  &__short-info {
    font-size: 14px;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
  }

  &__link {
    align-self: flex-end;
  }
}
