@import '../../../../assets/styles/variables.scss';

.student-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__edit-link {
    font-weight: 600;
    text-decoration: underline;
    color: $PINK;
    align-self: flex-end;
  }
}